<a href="https://colab.research.google.com/github/kamalkant9928/recomeder-system/blob/main/pandas_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('/content/transactions.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23634 entries, 0 to 23633
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction ID      23634 non-null  object
 1   Customer ID         23634 non-null  object
 2   Transaction Amount  23634 non-null  object
 3   Transaction Date    23634 non-null  object
 4   Payment Method      23634 non-null  object
 5   Product Category    23634 non-null  object
 6   Quantity            23634 non-null  int64
 7   Customer Age        23634 non-null  int64
 8   Customer Location   23634 non-null  object
 9   Device Used         23634 non-null  object
 10  IP Address          23634 non-null  object
 11  Shipping Address    23634 non-null  object
 12  Billing Address     23634 non-null  object
 13  Is Fraudulent       23634 non-null  int64
 14  Account Age Days    23634 non-null  int64
 15  Transaction Hour    23634 non-null  int64
 16  Region              7090 non-null   object
dtypes: int64(5), object(12)
memory usage: 3.1+ MB

In [5]:
df['Region']=df['Region'].fillna(df['Region'].mode()[0])
df['Transaction Date']=pd.to_datetime(df['Transaction Date'])
df['Transaction Amount']=pd.to_numeric(df['Transaction Amount'],errors='coerce')

/tmp/ipython-input-114000397.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Transaction Date']=pd.to_datetime(df['Transaction Date'])

In [6]:
x=df.groupby('Customer ID').size().rename('count').reset_index()
df['revenue']=df['Transaction Amount']*df['Quantity']
x[x['count']==1]
y=df.groupby('Customer ID').agg(total_count=('Customer ID','count'),total_revenue=('revenue','sum'))
100*y[y['total_count']>1]['total_revenue'].sum()/df['revenue'].sum()
df[df['Customer ID'].isin(x.loc[x['count'] == 1, 'Customer ID'])]
pd.merge(df,x[x['count']>1]['Customer ID'],on='Customer ID',how='inner')

,Transaction ID,Customer ID,Transaction Amount,Transaction Date,Payment Method,Product Category,Quantity,Customer Age,Customer Location,Device Used,IP Address,Shipping Address,Billing Address,Is Fraudulent,Account Age Days,Transaction Hour,Region,revenue
0,c12e07a0-8a06-4c0d-b5cc-04f3af688570,e9b5cec5-57e7-4fbb-be7e-5a798ffed51f,42.32,2024-03-24,PayPal,electronics,1,40,East Jameshaven,desktop,110.87.246.85,5399 Rachel Stravenue Suite 718\nNorth Blakebu...,5399 Rachel Stravenue Suite 718\nNorth Blakebu...,0,282,23,East,42.32
1,7d187603-7961-4fce-9827-9698e2b6a201,c995e6db-1ce7-488d-87ae-76ce9068bbce,NaN,2024-01-22,credit card,electronics,3,35,Kingstad,tablet,14.73.104.153,"5230 Stephanie Forge\nCollinsbury, PR 81853","5230 Stephanie Forge\nCollinsbury, PR 81853",0,223,0,West,NaN
2,f2c14f9d-92df-4aaf-8931-ceaf4e63ed72,7f61ba62-8b04-49ef-ba27-e23bcee867ae,NaN,2024-01-22,debit card,toys & games,5,29,North Ryan,desktop,67.58.94.93,"195 Cole Oval\nPort Larry, IA 58422","4772 David Stravenue Apt. 447\nVelasquezside, ...",0,360,8,West,NaN
3,e9949bfa-194d-486b-84da-9565fca9e5ce,a6fbfbb4-d3e2-4c4a-825c-55c7d6cfd55d,95.77,2024-01-16,credit card,electronics,5,45,Kaylaville,mobile,202.122.126.216,"7609 Cynthia Square\nWest Brenda, NV 23016","7609 Cynthia Square\nWest Brenda, NV 23016",0,325,20,West,478.85
4,7362837c-7538-434e-8731-0df713f5f26d,e6133d45-abc9-4b50-b0c4-57e9c60578b7,NaN,2024-01-16,credit card,clothing,5,42,North Edwardborough,desktop,96.77.232.76,"2494 Robert Ramp Suite 313\nRobinsonport, AS 5...","2494 Robert Ramp Suite 313\nRobinsonport, AS 5...",0,116,15,West,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23629,d8b7171f-bdd9-479c-b98b-396c621aebfe,81c63e55-e123-4465-8862-cc1119581419,53.73,2024-01-26,PayPal,toys & games,5,32,Rebeccafurt,tablet,173.97.197.128,USNV Clayton\nFPO AE 82639,USNV Clayton\nFPO AE 82639,0,363,16,West,268.65
23630,0fd12cf3-c641-4499-8de1-15dc4555cb0c,cebee771-e5f3-475e-b74e-0ed9d7a1a2c3,NaN,2024-02-25,credit card,clothing,4,41,Nataliefort,desktop,133.222.22.48,"9288 Patricia Cape Apt. 527\nMelissaton, IL 38543","9288 Patricia Cape Apt. 527\nMelissaton, IL 38543",0,296,17,West,NaN
23631,649680d3-a684-44cb-95bf-9b454c3aa86d,1da2b0bb-122a-4228-bac5-1d50db7fad80,NaN,2024-03-28,bank transfer,health & beauty,1,9,East Shannonville,tablet,206.133.237.168,3015 Elizabeth Summit Suite 819\nEast Joelfort...,3015 Elizabeth Summit Suite 819\nEast Joelfort...,0,329,23,West,NaN
23632,c10dbb08-28fc-4ec1-9850-d4e98d2b9640,02150465-c9f6-4685-9bca-0cd54d1378f0,34.25,2024-02-09,debit card,home & garden,2,39,Lake Nicole,mobile,16.204.137.130,"531 Brittany Pike\nNew Stacy, OR 87952","531 Brittany Pike\nNew Stacy, OR 87952",0,347,11,West,68.50
23633,23e3c107-f2fc-48c2-abbc-7b809bf6f102,c8874dae-2e14-4705-835e-6127529e6470,NaN,2024-01-23,credit card,clothing,4,38,Holtport,tablet,116.188.254.162,"289 Adams Wells\nWest Joeltown, LA 69190","289 Adams Wells\nWest Joeltown, LA 69190",0,203,2,West,NaN

In [7]:
df = df.sort_values('Transaction Date')
df.groupby('Transaction Date').size()

Transaction Date
2024-01-01    268
2024-01-02    238
2024-01-03    235
2024-01-04    240
2024-01-05    227
             ...
2024-04-03    252
2024-04-04    246
2024-04-05    220
2024-04-06    264
2024-04-07     83
Length: 98, dtype: int64

In [8]:
x=df.groupby('Customer ID').agg(total_revenue=('revenue','sum')).sort_values(ascending=False,by='total_revenue')
x['cumsum']=x['total_revenue'].cumsum()
x['%']=(x['cumsum']*100)/x['total_revenue'].sum()
x[x['%']<=80]
x[x['%']>=80]

                                      total_revenue      cumsum           %
Customer ID
83e4798a-4a94-4dc3-a2e5-76235883568b        2069.19  4031974.84   80.026565
d19be680-3832-4879-b919-f44468efaa6b        2061.70  4034036.54   80.067486
81c63e55-e123-4465-8862-cc1119581419        2060.16  4036096.70   80.108376
ed5a8345-194b-4eba-98d2-cb04060ceda8        2059.14  4038155.84   80.149246
b49926e1-dfc3-4ac3-b153-c563209f9543        2056.66  4040212.50   80.190066
...                                             ...         ...         ...
6f666393-2d22-494c-bac7-b9362cce065e           0.00  5038295.50  100.000000
61029948-528f-4605-8075-32a4de586bf0           0.00  5038295.50  100.000000
64925d67-8cad-4b2a-a762-20fd7085942a           0.00  5038295.50  100.000000
692b8f37-c58f-4724-80c6-25381bc653b8           0.00  5038295.50  100.000000
57782f3e-102e-4ebf-a9dc-cce7dc39df52           0.00  5038295.50  100.000000

[1028 rows x 3 columns]

In [9]:
x=df.groupby('Customer ID')['Transaction Amount'].sum().reset_index()
x['rank']=x['Transaction Amount'].rank(method='dense',ascending=False,pct=True)

In [10]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23634 entries, 10269 to 9298
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction ID      23634 non-null  object
 1   Customer ID         23634 non-null  object
 2   Transaction Amount  7295 non-null   float64
 3   Transaction Date    23634 non-null  datetime64[ns]
 4   Payment Method      23634 non-null  object
 5   Product Category    23634 non-null  object
 6   Quantity            23634 non-null  int64
 7   Customer Age        23634 non-null  int64
 8   Customer Location   23634 non-null  object
 9   Device Used         23634 non-null  object
 10  IP Address          23634 non-null  object
 11  Shipping Address    23634 non-null  object
 12  Billing Address     23634 non-null  object
 13  Is Fraudulent       23634 non-null  int64
 14  Account Age Days    23634 non-null  int64
 15  Transaction Hour    23634 non-null  int64
 16  Region              23634 non-null  object
 17  revenue             7295 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(10)
memory usage: 3.4+ MB

In [11]:
df['Transaction Amount']=df['Transaction Amount'].fillna(df['Transaction Amount'].mean())

In [12]:
df['revenue']=df['Transaction Amount']*df['Quantity']

In [13]:
df['month']=df['Transaction Date'].dt.month
df.groupby(['Customer ID','month']).agg(avg=('revenue','mean'),std=('revenue','std')).reset_index()

                               Customer ID  month         avg         std
0     00049255-7e21-44f7-ba55-17d0cc6b9fff      1  513.048650  152.336987
1     00049255-7e21-44f7-ba55-17d0cc6b9fff      2  501.758952  365.166739
2     00049255-7e21-44f7-ba55-17d0cc6b9fff      3  799.719164  161.567670
3     00049255-7e21-44f7-ba55-17d0cc6b9fff      4  685.473570         NaN
4     000cd774-a32f-4ee9-8740-cebdf7b91820      1  326.683987  400.999896
...                                    ...    ...         ...         ...
6919  ffe9449e-996c-471a-b4ec-cb69dff4735b      3  685.473570         NaN
6920  ffe9449e-996c-471a-b4ec-cb69dff4735b      4  685.473570         NaN
6921  ffff40f5-9241-4810-8ed1-ee98cab80c7b      1  769.541487  830.405640
6922  ffff40f5-9241-4810-8ed1-ee98cab80c7b      2  637.756785  520.961352
6923  ffff40f5-9241-4810-8ed1-ee98cab80c7b      3  775.700038  182.815417

[6924 rows x 4 columns]

In [14]:
df.groupby(['Customer ID','Transaction Date'])['revenue'].rolling(window=7).std().reset_index()

                                Customer ID Transaction Date  level_2  revenue
0      00049255-7e21-44f7-ba55-17d0cc6b9fff       2024-01-02    18447      NaN
1      00049255-7e21-44f7-ba55-17d0cc6b9fff       2024-01-07    12883      NaN
2      00049255-7e21-44f7-ba55-17d0cc6b9fff       2024-01-22    21935      NaN
3      00049255-7e21-44f7-ba55-17d0cc6b9fff       2024-02-01    10041      NaN
4      00049255-7e21-44f7-ba55-17d0cc6b9fff       2024-02-02    12239      NaN
...                                     ...              ...      ...      ...
23629  ffff40f5-9241-4810-8ed1-ee98cab80c7b       2024-03-10     7433      NaN
23630  ffff40f5-9241-4810-8ed1-ee98cab80c7b       2024-03-11     4477      NaN
23631  ffff40f5-9241-4810-8ed1-ee98cab80c7b       2024-03-14    11617      NaN
23632  ffff40f5-9241-4810-8ed1-ee98cab80c7b       2024-03-15      795      NaN
23633  ffff40f5-9241-4810-8ed1-ee98cab80c7b       2024-03-28    18367      NaN

[23634 rows x 4 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23634 entries, 10269 to 9298
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction ID      23634 non-null  object
 1   Customer ID         23634 non-null  object
 2   Transaction Amount  23634 non-null  float64
 3   Transaction Date    23634 non-null  datetime64[ns]
 4   Payment Method      23634 non-null  object
 5   Product Category    23634 non-null  object
 6   Quantity            23634 non-null  int64
 7   Customer Age        23634 non-null  int64
 8   Customer Location   23634 non-null  object
 9   Device Used         23634 non-null  object
 10  IP Address          23634 non-null  object
 11  Shipping Address    23634 non-null  object
 12  Billing Address     23634 non-null  object
 13  Is Fraudulent       23634 non-null  int64
 14  Account Age Days    23634 non-null  int64
 15  Transaction Hour    23634 non-null  int64
 16  Region              23634 non-null  object
 17  revenue             23634 non-null  float64
 18  month               23634 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(5), object(10)
memory usage: 3.5+ MB

In [16]:
x=df.groupby('Product Category').agg(avg=('Transaction Amount','mean'),total_price=('Quantity','sum')).reset_index()
x['bucket']=x['total_price'].apply(lambda x:'low' if x<13000 else ('medium' if 13000<x<14000 else 'high'))
x

  Product Category         avg  total_price  bucket
0         clothing  231.815258        14008    high
1      electronics  228.584445        14523    high
2  health & beauty  223.538249        13829  medium
3    home & garden  230.309364        14308    high
4     toys & games  228.146758        14247    high

Using the given transactions dataset, calculate the percentage contribution of repeat customers (customers with more than one transaction) to the total revenue, but only for those repeat customers whose average transaction amount is above the overall dataset’s average transaction amount.

In [17]:
x=df.groupby('Customer ID').agg(count=('Transaction ID','count'),total_revenue=('revenue','sum'),avg_transaction=('Transaction Amount','mean')).reset_index()
x['%']=(x['total_revenue'])*100/df['revenue'].sum()
x[(x['count']>1 )&(x['avg_transaction']>df['Transaction Amount'].mean())]['%'].sum()

np.float64(45.12835742631282)

Using the same transactions dataset, find the percentage of total revenue generated by customers whose first transaction amount is higher than the median transaction amount of the entire dataset.

In [18]:
x=df.groupby('Customer ID').agg(total_revenue=('revenue','sum'),first=('Transaction Amount','first')).reset_index()
x['%']=(x['total_revenue']*100)/df['revenue'].sum()
x[x['first']>df['Transaction Amount'].median()]['%'].sum()

np.float64(11.739644202117908)

Using the same transactions dataset, calculate the percentage of total revenue generated by customers whose maximum transaction amount is greater than the 75th percentile of all transaction amounts, but only include customers who have made at least 3 transactions.

In [19]:
x=df.groupby('Customer ID').agg(count=('Transaction Amount','count'),total_revenue=('revenue','sum'),max=('Transaction Amount','max')).reset_index()
x['%']=(x['total_revenue']*100)/df['revenue'].sum()
x[(x['count']>=3) &(x['max']>df['Transaction Amount'].quantile(0.75))]['%'].sum()

np.float64(77.93833611554547)

Using the same transactions dataset, calculate the percentage of total revenue contributed by customers whose last transaction amount is lower than their own average transaction amount, and who have made transactions on at least 2 different days.

In [20]:
x=df.groupby('Customer ID').agg(count_days=('Transaction Date','nunique'),total_revenue=('revenue','sum'),last=('Transaction Amount','last'),avg=('Transaction Amount','mean')).reset_index()
x['%']=round((x['total_revenue']*100)/df['revenue'].sum(),2)
x[(x['last']<x['avg']) &(x['count_days']>=2)]['%'].sum()

np.float64(49.470000000000006)

Using the same transactions dataset, calculate the percentage of total revenue contributed by customers whose transaction amounts show strictly increasing behavior over time, and who have made at least 3 transactions.

In [21]:
x=df.groupby('Customer ID').agg(count1=('Transaction ID','count'),total_revenue=('revenue','sum'),diff=('Transaction Amount',lambda s:s.is_monotonic_increasing)).reset_index()
x['%']=(x['total_revenue']*100)/df['revenue'].sum()
x[(x['count1']>=3)&(x['diff']==True)]['%'].sum()

np.float64(3.4593422203848347)

In [22]:
#or
x=df.groupby('Customer ID').agg(count1=('Transaction ID','count'),total_revenue=('revenue','sum'),diff=('Transaction Amount',lambda s:(s.diff().dropna()>0).all())).reset_index()
x['%']=(x['total_revenue']*100)/df['revenue'].sum()
x[(x['count1']>=3)&(x['diff']==True)]

Empty DataFrame
Columns: [Customer ID, count1, total_revenue, diff, %]
Index: []

In [23]:
df.groupby('Customer ID')['Transaction Amount'].is_monotonic_increasing

Customer ID
00049255-7e21-44f7-ba55-17d0cc6b9fff    False
000cd774-a32f-4ee9-8740-cebdf7b91820    False
0039d1c4-cc65-45e9-b2af-ecc2d625ccf0    False
004f08c6-fbe5-4f86-9ae3-bf6730c20c3c    False
00546041-d0f0-4048-9914-dfafa9dca49b    False
                                        ...
ff9e7f33-4be7-4f7f-8603-d3d9998cb57c    False
ffb1a1d2-2a31-487d-b7ca-bbcb3499d40c    False
ffd7703c-147d-498e-bdb1-1f2ce4aa3414    False
ffe9449e-996c-471a-b4ec-cb69dff4735b    False
ffff40f5-9241-4810-8ed1-ee98cab80c7b    False
Name: Transaction Amount, Length: 2000, dtype: bool

Find the percentage of total revenue generated by customers whose

maximum single-transaction revenue is more than 2× their average transaction revenue

AND who have at least 3 transactions

In [24]:
x=df.groupby('Customer ID').agg(max=('revenue','max'),total_revenue=('revenue','sum'),count=('Transaction ID','count'),avg=('revenue','mean')).reset_index()
x['%']=x['total_revenue']*100/df['revenue'].sum()
x[(x['count']>=3)&(x['max']>x['avg']*2)]['%'].sum()

np.float64(58.45381221162562)

Identify customers who show a consistent acceleration in spending over time.

A customer qualifies if:

They have made transactions on at least 4 different dates.

When transactions are ordered by Transaction Date, the difference between consecutive transaction amounts is strictly increasing (i.e., second increase > first increase > third increase … pattern holds).

For these customers, calculate the percentage contribution of their total revenue to the overall dataset revenue.

In [25]:
df=df.sort_values(['Transaction Date','Transaction ID'])
x=df.groupby('Customer ID').agg(count=('Transaction Date','nunique'),total_revenue=('revenue','sum'),incre=('Transaction Amount',lambda s:(s.diff().dropna()>0).all())).reset_index()
x['%']=x['total_revenue']*100/df['revenue'].sum()
x[(x['count']>=4)&(x['incre']==True)]['%'].sum()

np.float64(0.0)

Identify customers who demonstrate accelerating spending momentum over time.

A customer qualifies only if:

They have transactions on at least 5 different transaction dates.

Transactions are ordered by Customer ID → Transaction Date → Transaction ID.

The first-order differences of Transaction Amount are all positive (spending is increasing).

The second-order differences of Transaction Amount are also all positive
(i.e., each increase is larger than the previous increase → true acceleration).

In [26]:
df.groupby('Customer ID')